<div container='global' class='fs-hero_container'>
  <div class='fs-hero_list'>
    <div
      id='w-node-_62d80414-106d-ebb9-c04a-7bd9339459cd-59562381'
      class='fs-hero_content'
    >
      <h1 class='fs-hero_heading'>
        {{ section.settings.text_ }}
      </h1>
      <p>
        {{ section.settings.text_description }}
      </p>
    </div>
    <img
      class='fs-hero_image mobile'
      src='{{ section.settings.image_mobile | img_url: 'master' }}'
      alt='{{ section.settings.image_mobile.alt }}'
      loading='lazy'
    >
    <img
      class='fs-hero_image'
      src='{{ section.settings.image_desktop | img_url: 'master' }}'
      alt='{{ section.settings.image_desktop.alt }}'
      loading='lazy'
    >
  </div>
</div>
{% schema %}
{
  "tag": "section",
  "name": "hero",
  "class": "fs-section_hero",
  "settings": [
    {
      "id": "text",
      "type": "text",
      "default": "Client-First &amp; Roelu Official Starter Project"
    },
    {
      "id": "text_description",
      "type": "text",
      "label": "description",
      "default": "Client-First is a set of guidelines and strategies to help us build Webflow websites. Built and managed by Finsweet &amp; Roelu. This project contains a style guide page with the pre-built classes that come with the Client-First style system."
    },
    { "id": "image_mobile", "type": "image_picker", "label": "mobile" },
    { "id": "image_desktop", "type": "image_picker", "label": "desktop" }
  ],
  "presets": [{ "name": "hero", "category": "Liquify" }]
}
{% endschema %}
